body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.navigation {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

button {
    padding: 15px 25px;
    font-size: 20px;
    border: none;
    border-radius: 5px;
    color: white;
    background-color: #007BFF;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

.image-container {
    max-height: 80vh;
    max-width: 80vw;
    overflow: auto;
    margin-top: 20px;
}

#image {
    max-height: 100%;
    max-width: 100%;
}

.navigation textarea {
    width: 80vw;
    height: 50vh;
    padding: 15px;
    font-size: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.checkbox-label {
    display: flex;
    align-items: center;
    gap: 10px;
}

.checkbox-label input {
    margin-right: 5px;
}

#progressBarContainer {
    width: 80vw;
    background-color: #f3f3f3;
    border-radius: 13px;
    margin-top: 10px;
}

#progressBar {
    height: 20px;
    width: 0%;
    background-color: #4CAF50;
    border-radius: 13px;
}

.hidden {
    display: none;
}
